*, *::before, *::after{
    box-sizing: border-box;
}

body{

    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem; 
    font-weight:400;
    line-height: 1.6;
    color:#ffffffaf;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}



img{
    
    max-width:100%;
}

h1{
    margin:0;
}

/*typography*/

.card-title{
    font-family:"Blinker";
    font-weight: 700;
    color: #05CBE9;
    letter-spacing: 1px;
    grid-area: title;
}

.card-description{
    grid-area: body;

}

.card-footer-emphasis{
    font-family: "Blinker";
    font-size: 1.75rem;
    font-weight: 700;
    display: block;
    
}

.card-footer-title{
    font-family: "Blinker";
    font-size: 1.1875rem;
    font-weight: 400;
    margin-top:4em;
    margin-bottom: 1em;
    line-height: 1.2;
    grid-area: footer-title;
    align-self: end;
}

.card-read-more-btn{
    font-family: "Blinker";
    font-size: 1.25rem;
    font-weight: 700;
    color: #111D4A;
    background-color: #05CBE9;
    border-radius: 3px;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 0.3em 1.25em;
    display: inline-block;
    transform: scale(1);
    transition:transform 250ms;
    grid-area: footer-btn;
    align-self:end;
    justify-self: end;
    margin-bottom: 1em;
    
    
    
}

.card-read-more-btn:hover,
.card-read-more-btn:focus
{
    transform:scale(1.2);
         
}

/*utility classes*/
.container{

    max-width:450px;

}


/*layout*/

.card{
    display: grid;
    grid-template: 200px auto auto auto /  1em auto auto 1em;
    grid-template-areas:

        "hero hero hero hero"
        ".. title title .."
        ".. body body .."
        "..footer-title footer-btn.."
    ;
    max-width:800px;
    background-color: #111D4A;
    
}

.card-image{
    grid-area: hero;
    object-fit: cover;
    width:100%;
    height: 100%;
    transform: scale(1);
    transition:transform 250ms;
    border-radius: 1px;
}

/*media queries*/



@media (min-width: 500px){

    .card{

    grid-template: auto auto auto / 1fr 1fr 1fr 0px;
    gap:0 1em;
    grid-template-areas:

        "hero title title"
        "hero body   body"
        "hero footer-title footer-btn"
    ;
    border: solid rgb(255, 0, 0) 3px;
    border-radius: 10px;
    border-image: linear-gradient(to right, rgba(255, 0, 0, 0.836), rgba(0, 0, 255, 0.76)) 1;
    margin: auto auto;     
    }
    
    .card-image:hover{
        transform: scale(1.1);
    
    }
    
}


